// Layout _______________________________
.layout {
  display: grid;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
}

// Layout surface styles ________________
.layout[data-layout-surface="panelled"] {
  --layout-area-margin: #{$layout-area-margin};
  --layout-area-radius: #{$layout-area-radius};
}

.layout[data-layout-surface="flush"] {
  --layout-area-margin: 0rem; // units needed to prevent calculations breaking
  --layout-area-radius: 0rem;
}

// Layout areas ________________________

header {
  grid-area: header;
  margin: var(--layout-area-margin);
  border-radius: var(--layout-area-radius);
}

footer {
  grid-area: footer;
  margin: var(--layout-area-margin);
  border-radius: var(--layout-area-radius);
}

#main {
  grid-area: main;
  margin: var(--layout-area-margin);
  border-radius: var(--layout-area-radius);
  container-type: inline-size;
}

#sidebar {
  grid-area: sidebar;
  margin: var(--layout-area-margin);
  border-radius: var(--layout-area-radius);
}

// Default layout _______________________
.layout[data-layout="layout-01"] {
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
}

.layout[data-layout="layout-02"] {
  grid-template-areas:
    "header sidebar"
    "main sidebar"
    "footer sidebar";
}

.layout[data-layout="layout-03"] {
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

.layout[data-layout="layout-04"] {
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
}

.layout[data-layout="layout-05"] {
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "footer footer";
}

.layout[data-layout="layout-06"] {
  grid-template-areas:
    "header sidebar"
    "main sidebar"
    "footer footer";
}

.layout[data-layout="layout-07"] {
  grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar footer";
}

.layout[data-layout="layout-08"] {
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer sidebar";
}

.layout[data-layout="layout-02"],
.layout[data-layout="layout-04"],
.layout[data-layout="layout-06"],
.layout[data-layout="layout-08"] {
  grid-template-columns: 1fr auto;
}

// Page elements ________________________
.page-body,
.page-pane,
.page-panel {
  display: flex;
  flex-direction: column;
}

.page-body {
  &:not(:has(> .page-frame)) {
    // a fix if no page-frame exists
    margin: var(--#{$prefix-bh}page-body-spacing-y)
      var(--#{$prefix-bh}page-body-spacing-x);
  }
}

.page-frame {
  --#{$prefix-bh}page-frame-padding-y: var(--#{$prefix-bh}page-body-spacing-y);
  --#{$prefix-bh}page-frame-padding-top: var(
    --#{$prefix-bh}page-frame-padding-y
  );
  --#{$prefix-bh}page-frame-padding-bottom: var(
    --#{$prefix-bh}page-frame-padding-y
  );

  --#{$prefix-bh}page-frame-padding-x: calc(
    var(--#{$prefix-bh}page-body-spacing-x) - calc(#{$grid-gutter-width} * 0.5)
  );

  display: flex;
  flex-direction: column;
  gap: var(--#{$prefix-bh}page-frame-gap);
  padding: var(--#{$prefix-bh}page-frame-padding-top)
    var(--#{$prefix-bh}page-frame-padding-x)
    var(--#{$prefix-bh}page-frame-padding-bottom);

  > .container {
    display: flex;
    flex-direction: column;
    gap: var(--#{$prefix-bh}page-frame-gap);

    > .row {
      --bs-gutter-x: var(--#{$prefix-bh}page-frame-spacing-x);
    }
  }
}

.page-pane {
  gap: var(--#{$prefix-bh}page-pane-gap);
  height: 100%;
}

.page-panel {
  --bs-gutter-x: var(--#{$prefix-bh}page-panel-gap);
  gap: var(--#{$prefix-bh}page-panel-gap);
  // height: 100%; // monitor to see if this is needed, may cause issues with flexbox children
}

// Content group ________________________
.content-group {
  display: flex;
  flex-direction: column;
  gap: var(--#{$prefix-bh}content-spacing);
}

.content-group-sm {
  gap: var(--#{$prefix-bh}content-spacing-sm);
}

.content-group-xl {
  gap: var(--#{$prefix-bh}content-spacing-xl);
}
