// Colour stuff _____________________________________________________________________________________________________________________

// Neutral ______________________________
// Base __________
$white: #ffffff;
$black: #1a1a1a;
$transparent: transparent;

// primary ______________________________
$primary-10: #e0e9ff;
$primary-20: #c7d7ff;
$primary-30: #a8c1ff;
$primary-40: #7fa3f7;
$primary-50: #5f88ea;
$primary-60: #3f6fdd;
$primary-70: #2557d0;
$primary-80: #0f40c5;
$primary-90: #0a2e99;
$primary-100: #02091d;

$primary-palette-dark: (
  "10": $primary-10,
  "20": $primary-20,
  "30": $primary-30,
  "40": $primary-40,
  "50": $primary-50,
  "60": $primary-60,
  "70": $primary-70,
  "80": $primary-80,
  "90": $primary-90,
  "100": $primary-100,
) !default;

// Generate css variable map version
$primary-palette-vars: generate-css-var-map(
  "primary",
  $primary-palette
) !default;

// System _______________________________
// danger ___________
$danger-10: #fff0f0;
$danger-20: #ffd4d4;
$danger-30: #ffb0af;
$danger-40: #ff8886;
$danger-50: #ff6663;
$danger-60: #ff4442;
$danger-70: #e62f2d;
$danger-80: #b81f1d;
$danger-90: #7d1514;
$danger-100: #2b0909;

$danger-palette-dark: (
  "10": $danger-10,
  "20": $danger-20,
  "30": $danger-30,
  "40": $danger-40,
  "50": $danger-50,
  "60": $danger-60,
  "70": $danger-70,
  "80": $danger-80,
  "90": $danger-90,
  "100": $danger-100,
) !default;

// caution ________
$caution-10: #fff4e8;
$caution-20: #ffe0bd;
$caution-30: #ffc785;
$caution-40: #ffae52;
$caution-50: #ff9a24;
$caution-60: #ff8901;
$caution-70: #db7200;
$caution-80: #a85700;
$caution-90: #733c00;
$caution-100: #261300;

$caution-palette-dark: (
  "10": $caution-10,
  "20": $caution-20,
  "30": $caution-30,
  "40": $caution-40,
  "50": $caution-50,
  "60": $caution-60,
  "70": $caution-70,
  "80": $caution-80,
  "90": $caution-90,
  "100": $caution-100,
) !default;

// valid _________
$valid-10: #e8fff4;
$valid-20: #c7ffe3;
$valid-30: #98f5c3;
$valid-40: #63e69e;
$valid-50: #2fd57f;
$valid-60: #00c56b;
$valid-70: #00a85b;
$valid-80: #007d45;
$valid-90: #035c33;
$valid-100: #021f12;

$valid-palette-dark: (
  "10": $valid-10,
  "20": $valid-20,
  "30": $valid-30,
  "40": $valid-40,
  "50": $valid-50,
  "60": $valid-60,
  "70": $valid-70,
  "80": $valid-80,
  "90": $valid-90,
  "100": $valid-100,
) !default;

// Info ______________________________
$info-10: #e0e9ff;
$info-20: #c7d7ff;
$info-30: #a8c1ff;
$info-40: #7fa3f7;
$info-50: #5f88ea;
$info-60: #3f6fdd;
$info-70: #2557d0;
$info-80: #0f40c5;
$info-90: #0a2e99;
$info-100: #02091d;

$info-palette-dark: (
  "10": $info-10,
  "20": $info-20,
  "30": $info-30,
  "40": $info-40,
  "50": $info-50,
  "60": $info-60,
  "70": $info-70,
  "80": $info-80,
  "90": $info-90,
  "100": $info-100,
) !default;

// Prime colours ________________________

$prime-primary: $primary-80;
$prime-danger: $danger-60;
$prime-caution: $caution-60;
$prime-valid: $valid-60;
$prime-info: $info-80;

$prime-colors-dark: (
  "white": $white,
  "primary": $prime-primary,
  "danger": $prime-danger,
  "caution": $prime-caution,
  "valid": $prime-valid,
  "info": $prime-info,
) !default;

// White tint ____
$white-tint-10: rgba($white, 0.04);
$white-tint-20: rgba($white, 0.08);
$white-tint-30: rgba($white, 0.13);
$white-tint-40: rgba($white, 0.19);
$white-tint-50: rgba($white, 0.27);
$white-tint-60: rgba($white, 0.39);
$white-tint-70: rgba($white, 0.53);
$white-tint-80: rgba($white, 0.68);
$white-tint-90: rgba($white, 0.84);
$white-tint-100: rgba($white, 0.97);

$white-tint-palette-dark: (
  "10": $white-tint-10,
  "20": $white-tint-20,
  "30": $white-tint-30,
  "40": $white-tint-40,
  "50": $white-tint-50,
  "60": $white-tint-60,
  "70": $white-tint-70,
  "80": $white-tint-80,
  "90": $white-tint-90,
  "100": $white-tint-100,
) !default;

// primary tint _____
$primary-tint-10: rgba($prime-primary, 0.1);
$primary-tint-20: rgba($prime-primary, 0.18);
$primary-tint-30: rgba($prime-primary, 0.28);
$primary-tint-40: rgba($prime-primary, 0.4);
$primary-tint-50: rgba($prime-primary, 0.55);
$primary-tint-60: rgba($prime-primary, 0.75);

$primary-tint-palette-dark: (
  "10": $primary-tint-10,
  "20": $primary-tint-20,
  "30": $primary-tint-30,
  "40": $primary-tint-40,
  "50": $primary-tint-50,
  "60": $primary-tint-60,
) !default;

// danger tint ______
$danger-tint-10: rgba($prime-danger, 0.14);
$danger-tint-20: rgba($prime-danger, 0.22);
$danger-tint-30: rgba($prime-danger, 0.32);
$danger-tint-40: rgba($prime-danger, 0.46);
$danger-tint-50: rgba($prime-danger, 0.62);
$danger-tint-60: rgba($prime-danger, 0.8);

$danger-tint-palette-dark: (
  "10": $danger-tint-10,
  "20": $danger-tint-20,
  "30": $danger-tint-30,
  "40": $danger-tint-40,
  "50": $danger-tint-50,
  "60": $danger-tint-60,
) !default;

// Caution tint ___
$caution-tint-10: rgba($prime-caution, 0.14);
$caution-tint-20: rgba($prime-caution, 0.22);
$caution-tint-30: rgba($prime-caution, 0.32);
$caution-tint-40: rgba($prime-caution, 0.46);
$caution-tint-50: rgba($prime-caution, 0.62);
$caution-tint-60: rgba($prime-caution, 0.8);

$caution-tint-palette-dark: (
  "10": $caution-tint-10,
  "20": $caution-tint-20,
  "30": $caution-tint-30,
  "40": $caution-tint-40,
  "50": $caution-tint-50,
  "60": $caution-tint-60,
) !default;

// valid tint ____
$valid-tint-10: rgba($prime-valid, 0.14);
$valid-tint-20: rgba($prime-valid, 0.22);
$valid-tint-30: rgba($prime-valid, 0.32);
$valid-tint-40: rgba($prime-valid, 0.46);
$valid-tint-50: rgba($prime-valid, 0.62);
$valid-tint-60: rgba($prime-valid, 0.8);

$valid-tint-palette-dark: (
  "10": $valid-tint-10,
  "20": $valid-tint-20,
  "30": $valid-tint-30,
  "40": $valid-tint-40,
  "50": $valid-tint-50,
  "60": $valid-tint-60,
) !default;

// info tint _____
$info-tint-10: rgba($prime-info, 0.1);
$info-tint-20: rgba($prime-info, 0.18);
$info-tint-30: rgba($prime-info, 0.28);
$info-tint-40: rgba($prime-info, 0.4);
$info-tint-50: rgba($prime-info, 0.55);
$info-tint-60: rgba($prime-info, 0.75);

$info-tint-palette-dark: (
  "10": $info-tint-10,
  "20": $info-tint-20,
  "30": $info-tint-30,
  "40": $info-tint-40,
  "50": $info-tint-50,
  "60": $info-tint-60,
) !default;

// Foundation colour stuff __________________________________________________________________________________________________________

// Text _________________________________
$text-primary-dark: $white !default;
$text-secondary-dark: $white-tint-90 !default;
$text-tertiary-dark: $white-tint-80 !default;
$text-muted-dark: $white-tint-70 !default;
$text-active-dark: $info-40 !default;

$text-colors-dark: (
  "primary": $text-primary-dark,
  "secondary": $text-secondary-dark,
  "tertiary": $text-tertiary-dark,
  "muted": $text-muted-dark,
  "active": $text-active-dark,
  // "success":    $text-success-dark,
   // "error":      $text-error-dark
) !default;

// UI colours ___________________________
$ui-background-01-dark: $primary-100 !default;
// $ui-background-02-dark: $neutral-10;
// $ui-background-03-dark: $neutral-20;

$ui-overlay-01-dark: $white-tint-10 !default;
$ui-overlay-02-dark: $white-tint-20 !default;
$ui-overlay-03-dark: $white-tint-60 !default;
$ui-overlay-04-dark: $primary-tint-20 !default;

$ui-border-01-dark: $white-tint-60 !default;
$ui-border-02-dark: $white-tint-40 !default;
$ui-border-03-dark: $white-tint-30 !default;
// $ui-border-04-dark:     $white;

$ui-background-colors-dark: (
  "01": $ui-background-01-dark,
  // "02":   $ui-background-02-dark,
  // "03":   $ui-background-03-dark,
   // "04":   $ui-background-04-dark
) !default;

$ui-overlay-colors-dark: (
  "01": $ui-overlay-01-dark,
  "02": $ui-overlay-02-dark,
  "03": $ui-overlay-03-dark,
  "04": $ui-overlay-04-dark,
) !default;

$ui-border-colors-dark: (
  "01": $ui-border-01-dark,
  "02": $ui-border-02-dark,
  "03": $ui-border-03-dark, // "04":   $ui-border-04-dark
) !default;

// State colours ________________________
$focus-01: $info-60;
$success-01: $valid-60;
$error-01: $danger-60;

$state-colours-dark: (
  "focus-01": $focus-01,
  "success-01": $success-01,
  "error-01": $error-01,
) !default;

// $disabled-overlay-01-dark: $white-tint-20;
// $disabled-overlay-02-dark: $black-tint-40;
// $disabled-overlay-03-dark: $black-tint-50;
$disabled-01-dark: $white-tint-20 !default;
// $disabled-02-dark: $neutral-40;
$disabled-03-dark: $white-tint-50 !default;
$disabled-04-dark: $white !default;

$disabled-colors-dark: (
  // "overlay-01":   $disabled-overlay-01-dark,
  // "overlay-02":   $disabled-overlay-02-dark,
  // "overlay-03":   $disabled-overlay-03-dark,
  "01": $disabled-01-dark,
  // "02":           $disabled-02-dark,
  "03": $disabled-03-dark,
  "04": $disabled-04-dark
) !default;

// Action colours _______________________
$action-01-dark: $primary-70 !default;
$action-02-dark: $primary-40 !default;
$action-03-dark: $primary-80 !default;
$action-04-dark: $primary-tint-20 !default;
$action-05-dark: $white-tint-40 !default;
$action-06-dark: $white-tint-30 !default;
$action-07-dark: $white-tint-20 !default;
$action-08-dark: $primary-100 !default;
$action-09-dark: $white-tint-50 !default;
$action-10-dark: $white-tint-70 !default;
$action-11-dark: $white-tint-90 !default;
$action-12-dark: $white !default;

$action-text-01-dark: $primary-40 !default;
$action-text-02-dark: $white !default;
$action-text-03-dark: $white-tint-90 !default;
$action-text-04-dark: $white-tint-80 !default;
$action-text-05-dark: $primary-100 !default;

$action-colors-dark: (
  "01": $action-01-dark,
  "02": $action-02-dark,
  "03": $action-03-dark,
  "04": $action-04-dark,
  "05": $action-05-dark,
  "06": $action-06-dark,
  "07": $action-07-dark,
  "08": $action-08-dark,
  "09": $action-09-dark,
  "10": $action-10-dark,
  "11": $action-11-dark,
  "12": $action-12-dark,
) !default;

$action-text-colors-dark: (
  "01": $action-text-01-dark,
  "02": $action-text-02-dark,
  "03": $action-text-03-dark,
  "04": $action-text-04-dark,
  "05": $action-text-05-dark,
) !default;

// Action danger colours ________________
$action-danger-01-dark: $danger-60 !default;
$action-danger-02-dark: $danger-80 !default;
$action-danger-03-dark: $danger-90 !default;
$action-danger-04-dark: $danger-tint-10 !default;

$action-text-danger-01-dark: $danger-60 !default;

$action-danger-colors-dark: (
  "01": $action-danger-01-dark,
  "02": $action-danger-02-dark,
  "03": $action-danger-03-dark,
  "04": $action-danger-04-dark,
) !default;

$action-text-danger-colors-dark: (
  "01": $action-text-danger-01-dark,
) !default;

// Feedback colours _____________________
$feedback-background-info-dark: $info-tint-20 !default;
$feedback-overlay-info-dark: $info-tint-20 !default;
$feedback-border-info-dark: $info-50 !default;
$feedback-message-info-dark: $info-40 !default;
$feedback-body-info-dark: $info-10 !default;
$feedback-shadow-info-dark: $info-100 !default;

$feedback-background-success-dark: $valid-tint-20 !default;
$feedback-overlay-success-dark: $valid-tint-10 !default;
$feedback-border-success-dark: $valid-60 !default;
$feedback-message-success-dark: $valid-50 !default;
$feedback-body-success-dark: $valid-10 !default;
$feedback-shadow-success-dark: $valid-100 !default;

$feedback-background-warning-dark: $caution-tint-10 !default;
$feedback-overlay-warning-dark: $caution-tint-10 !default;
$feedback-border-warning-dark: $caution-60 !default;
$feedback-message-warning-dark: $caution-50 !default;
$feedback-body-warning-dark: $caution-10 !default;
$feedback-shadow-warning-dark: $caution-100 !default;

$feedback-background-error-dark: $danger-tint-10 !default;
$feedback-overlay-error-dark: $danger-tint-10 !default;
$feedback-border-error-dark: $danger-60 !default;
$feedback-message-error-dark: $danger-40 !default;
$feedback-body-error-dark: $danger-10 !default;
$feedback-shadow-error-dark: $danger-100 !default;

$feedback-colours-dark: (
  "info": (
    "background": $feedback-background-info-dark,
    "overlay": $feedback-overlay-info-dark,
    "border": $feedback-border-info-dark,
    "message": $feedback-message-info-dark,
    "body": $feedback-body-info-dark,
    "shadow": $feedback-shadow-info-dark,
  ),

  "success": (
    "background": $feedback-background-success-dark,
    "overlay": $feedback-overlay-success-dark,
    "border": $feedback-border-success-dark,
    "message": $feedback-message-success-dark,
    "body": $feedback-body-success-dark,
    "shadow": $feedback-shadow-success-dark,
  ),

  "warning": (
    "background": $feedback-background-warning-dark,
    "overlay": $feedback-overlay-warning-dark,
    "border": $feedback-border-warning-dark,
    "message": $feedback-message-warning-dark,
    "body": $feedback-body-warning-dark,
    "shadow": $feedback-shadow-warning-dark,
  ),

  "error": (
    "background": $feedback-background-error-dark,
    "overlay": $feedback-overlay-error-dark,
    "border": $feedback-border-error-dark,
    "message": $feedback-message-error-dark,
    "body": $feedback-body-error-dark,
    "shadow": $feedback-shadow-error-dark,
  ),
) !default;

// UI stuff _________________________________________________________________________________________________________________________

// Body _________________________________
//
// Settings for the `<body>` element.
$body-color-dark: var(--text-primary) !default;
$body-secondary-color-dark: var(--text-muted) !default;
$body-background-dark: var(--ui-background-01) !default;
$body-background-b-dark: var(--primary-tint-30) !default;

// Font stuff _______________________________________________________________________________________________________________________

// Links ________________________________
//
// Style anchor elements.

$link-colour-dark: $text-active-dark !default;
$link-icon-dark: $link-colour-dark !default;

$link-hover-dark: $link-colour-dark !default;
$link-icon-hover-dark: $link-hover-dark !default;

// $link-focus-dark:            $link-colour;
// $link-icon-focus-dark:       $link-focus;

$link-active-dark: $text-primary-dark !default;
$link-icon-active-dark: $link-active-dark !default;

// Visited links
// To enable a colour change on visit change this colour to var(--expressive-secondary-deep) (recommeded)
// By default this is this same as link.
$link-visited-dark: $link-colour-dark !default;
$link-icon-visited-dark: $link-visited-dark !default;

// Horizontal rule ______________________
$hr-color-dark: $ui-border-03-dark !default;

// Component stuff __________________________________________________________________________________________________________________

// Forms ________________________________
$form-input-background-dark: var(--#{$prefix-bh}ui-overlay-01) !default;
$form-input-background-disabled-dark: var(--#{$prefix-bh}disabled-01) !default;
$form-input-border-disabled-dark: var(--#{$prefix-bh}disabled-01) !default;
$form-text-disabled-dark: var(--#{$prefix-bh}disabled-03) !default;

// $form-input-border-focus:         $focus-ring-color;
// $form-input-focus-ring:           0 0 $focus-ring-blur $form-input-focus-ring-width $focus-ring-color;

// Form validation ______________________
$form-input-icon-error-dark: map-get($state-colours-dark, "error-01") !default;
$form-input-icon-svg-dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='#{$form-input-icon-error-dark}'><!--!Font Awesome Pro 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2024 Fonticons, Inc.--><path d='M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c-13.3 0-24 10.7-24 24l0 112c0 13.3 10.7 24 24 24s24-10.7 24-24l0-112c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z'/></svg>") !default;
$form-feedback-icon-svg-dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='#{$form-input-icon-error-dark}'><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z'/></svg>") !default;

$form-validation-states-dark: (
  "invalid": (
    "icon": $form-input-icon-svg-dark,
    "feedback-icon": $form-feedback-icon-svg-dark,
  ),
) !default;

// Checkbox _____________________________
$checkbox-input-background-dark: var(--#{$prefix-bh}transparent) !default;
$checkbox-input-border-dark: var(--#{$prefix-bh}action-02) !default;

// $checkbox-focus-ring:                   0 0 0 1px $ui-border-04, 0 0 0 3px $focus-ring-color;

$checkbox-input-background-active-dark: var(--#{$prefix-bh}action-02) !default;
$checkbox-input-border-active-dark: var(--#{$prefix-bh}action-02) !default;
$checkbox-icon-check-dark: map-get($action-text-colors-dark, "05") !default;

$checkbox-check-svg-dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='#{$checkbox-icon-check-dark}'><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/></svg>") !default;

// Disabled
$checkbox-input-background-disabled-dark: var(
  --#{$prefix-bh}disabled-03
) !default;
$checkbox-check-disabled-dark: map-get($action-text-colors-dark, "05") !default;
$checkbox-label-disabled-dark: var(--#{$prefix-bh}disabled-03) !default;

// Read-only
$checkbox-input-background-readonly-dark: $checkbox-input-background-dark !default;
$checkbox-input-background-readonly-active-dark: var(
  --#{$prefix-bh}disabled-04
) !default;
$checkbox-input-border-readonly-dark: var(--#{$prefix-bh}disabled-04) !default;
$checkbox-icon-check-readonly-dark: map-get(
  $action-text-colors-dark,
  "05"
) !default;
$checkbox-check-svg-readonly-dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='#{$checkbox-icon-check-readonly-dark}'><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/></svg>") !default;

// Indeterminate
$checkbox-icon-indeterminate-dark: $checkbox-icon-check-dark !default;
$checkbox-icon-indeterminate-readonly-dark: $checkbox-icon-check-readonly-dark !default;
$checkbox-input-background-indeterminate-dark: $checkbox-input-background-active-dark !default;
$checkbox-input-border-indeterminate-dark: $checkbox-input-border-active-dark !default;
$checkbox-input-svg-indeterminate-dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640' fill='#{$checkbox-icon-indeterminate-dark}'><!--!Font Awesome Free 7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d='M96 320C96 302.3 110.3 288 128 288L512 288C529.7 288 544 302.3 544 320C544 337.7 529.7 352 512 352L128 352C110.3 352 96 337.7 96 320z'/></svg>") !default;
$checkbox-input-svg-indeterminate-readonly-dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640' fill='#{$checkbox-icon-indeterminate-readonly-dark}'><!--!Font Awesome Free 7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d='M96 320C96 302.3 110.3 288 128 288L512 288C529.7 288 544 302.3 544 320C544 337.7 529.7 352 512 352L128 352C110.3 352 96 337.7 96 320z'/></svg>") !default;

// Radio
$radio-pip-active-dark: $checkbox-icon-check-dark !default;
$radio-pip-readonly-dark: $checkbox-icon-check-readonly-dark !default;
$radio-pip-svg-dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$radio-pip-active-dark}'/></svg>") !default;
$radio-pip-svg-readonly-dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$radio-pip-readonly-dark}'/></svg>") !default;
$radio-pip-disabled-dark: $checkbox-check-disabled-dark !default;

// Switch _______________________________
$switch-track-background-dark: var(--#{$prefix-bh}ui-overlay-03) !default;

$switch-handle-dark: map-get($action-colors-dark, "08") !default;
$switch-handle-on-dark: $switch-handle-dark !default;
$switch-handle-svg-dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='#{$switch-handle-dark}'><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z'/></svg>") !default;
$switch-handle-svg-on-dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='#{$switch-handle-on-dark}'><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z'/></svg>") !default;
$switch-track-background-disabled-dark: var(
  --#{$prefix-bh}disabled-03
) !default;

// Navs _________________________________
$nav-link-dark: var(--#{$prefix-bh}action-text-03) !default;
$nav-link-hover-dark: var(--#{$prefix-bh}action-text-03) !default;
$nav-link-active-dark: var(--#{$prefix-bh}action-text-02) !default;
$nav-link-disabled-dark: var(--#{$prefix-bh}disabled-03) !default;
$nav-link-background-hover-dark: var(--#{$prefix-bh}action-07) !default;
$nav-link-background-active-dark: var(--#{$prefix-bh}action-05) !default;

// $nav-link-border-focus:             var(--#{$prefix-bh}action-07);

// Nav with dropdown menu
$nav-item-menu-dark: $action-text-03-dark !default;
$nav-item-menu-svg-dark: escape-svg(
  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640' fill='#{$nav-item-menu-dark}'><!--!Font Awesome Pro 7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2026 Fonticons, Inc.--><path d='M303.5 473C312.9 482.4 328.1 482.4 337.4 473L537.4 273C546.8 263.6 546.8 248.4 537.4 239.1C528 229.8 512.8 229.7 503.5 239.1L320.5 422.1L137.5 239.1C128.1 229.7 112.9 229.7 103.6 239.1C94.3 248.5 94.2 263.7 103.6 273L303.6 473z'/></svg>")
) !default;

// Card _________________________________
$card-border-dark: var(--ui-border-02) !default;
$card-background-dark: var(--ui-overlay-01) !default;
$card-background-secondary-dark: var(--ui-overlay-04) !default;

// $card-cap-background:                var(--ui-overlay-02);

// Clickable
$card-clickable-border-hover-dark: var(--link-hover) !default;
$card-clickable-border-disabled-dark: $transparent !default;
$card-clickable-text-disabled-dark: var(--#{$prefix-bh}disabled-03) !default;

// Selectable
$card-selectable-border-hover-dark: $card-clickable-border-hover-dark !default;
$card-selectable-background-active-dark: var(--#{$prefix-bh}action-04) !default;
$card-selectable-border-active-dark: var(--#{$prefix-bh}action-01) !default;
$card-selectable-focus-ring-dark: $checkbox-focus-ring !default;

// Icon _________________________________
$icon-block-background-dark: var(--#{$prefix-bh}ui-overlay-02) !default;

// Collapse _____________________________
$collapse-card-background-dark: var(--#{$prefix-bh}ui-overlay-01) !default;

// Modal ________________________________
$modal-background-dark: var(--#{$prefix-bh}ui-overlay-01) !default;
$modal-border-dark: var(--#{$prefix-bh}ui-border-03) !default;
$modal-background-blur-dark: 2rem !default;

// Modal backdrop
$modal-backdrop-blur-dark: 1rem !default;

// Table ________________________________
$table-border-dark: var(--#{$prefix-bh}ui-border-03) !default;
$table-hover-background-dark: var(--#{$prefix-bh}ui-overlay-01) !default;
$table-header-background-dark: var(--#{$prefix-bh}ui-overlay-02) !default;

// Breadcrumb ___________________________
$breadcrumb-link-dark: var(--#{$prefix-bh}action-text-02) !default;
