// Select
//
// Replaces the browser default select with a custom one, mostly pulled from
// https://primer.github.io/.

.form-select {
    --#{$prefix-bh}form-select-indicator:           #{escape-svg($form-select-indicator-svg)};
    --#{$prefix-bh}form-select-background:          #{$form-select-background};
    --#{$prefix-bh}form-select-border:              #{$form-select-border};
    --#{$prefix-bh}form-select-text:                #{$form-select-text};

    --#{$prefix-bh}form-select-border-focus:        #{$form-select-border-focus};
    --#{$prefix-bh}form-select-focus-ring:          #{$form-select-focus-ring};

    --#{$prefix-bh}form-select-background-disabled: #{$form-select-background-disabled};
    --#{$prefix-bh}form-select-border-disabled:     #{$form-select-border-disabled};
    --#{$prefix-bh}form-select-text-disabled:       #{$form-select-text-disabled};

    display: block;
    width: 100%;
    max-height: $form-input-height;
    padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
    font-family: $form-select-font-family;
    @include type($input-text, "02");
    color: var(--#{$prefix-bh}form-select-text);
    appearance: none;
    background-color: var(--#{$prefix-bh}form-select-background);
    background-image: var(--#{$prefix-bh}form-select-indicator);
    background-repeat: no-repeat;
    background-position: $form-select-indicator-position;
    background-size: $form-select-indicator-size;
    border: $form-select-border-width solid var(--#{$prefix-bh}form-select-border);
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
    @include border-radius($form-select-radius, 0);
    @include box-shadow($form-select-box-shadow);
    @include transition($form-select-transition);

    &:focus {
        border-color: var(--#{$prefix-bh}form-select-border-focus);
        outline: 0;
        @if $enable-shadows {
            @include box-shadow($form-select-box-shadow, $form-select-focus-box-shadow);
        } @else {
            // Avoid using mixin so we can pass custom focus shadow properly
            box-shadow: var(--#{$prefix-bh}form-select-focus-ring);
        }
    }

    &[multiple],
    &[size]:not([size="1"]) {
        padding-right: $form-select-padding-x;
        background-image: none;
    }

    &:disabled {
        background-color: var(--#{$prefix-bh}form-select-background-disabled);
        border-color: var(--#{$prefix-bh}form-select-border-disabled);
        --#{$prefix-bh}form-select-indicator: #{escape-svg($form-select-indicator-svg-disabled)};
        cursor: default;

        &:not(.readonly) {
            color: var(--#{$prefix-bh}form-select-text-disabled);
        }
    }

    // Remove outline from select box in FF
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 $form-select-color;
    }
}

//   .form-select-sm {
//     padding-top: $form-select-padding-y-sm;
//     padding-bottom: $form-select-padding-y-sm;
//     padding-left: $form-select-padding-x-sm;
//     @include font-size($form-select-font-size-sm);
//     @include border-radius($form-select-border-radius-sm);
//   }

//   .form-select-lg {
//     padding-top: $form-select-padding-y-lg;
//     padding-bottom: $form-select-padding-y-lg;
//     padding-left: $form-select-padding-x-lg;
//     @include font-size($form-select-font-size-lg);
//     @include border-radius($form-select-border-radius-lg);
//   }

@if $enable-dark-mode {
    @include color-mode(dark) {
        .form-select {
        --#{$prefix-bh}form-select-indicator: #{escape-svg($form-select-indicator-dark)};
        }
    }
}
