@mixin type($type, $size, $rfs: null) {
  $font-size: map-get($type, "font-sizes", $size);
  $line-height: map-get($type, "line-height", $size);
  $letterspacing: map-get($type, "letter-spacing", $size);
  $rfs-default: map-get($type, "use-rfs");

  // Default line-height offset
  $lineH-offset: if($line-height, $line-height, 0.5rem);

  // Auto RFS logic from token
  @if $rfs == null {
    $rfs: if($rfs-default != null, $rfs-default, false);
  }

  @if $rfs {
    @include rfs($font-size, font-size);

    line-height: calc(#{rfs-fluid-value($font-size)} + #{$lineH-offset});

    @media (min-width: #{rfs-breakpoint * 1px}) {
      line-height: $font-size + $lineH-offset;
    }
  } @else {
    font-size: $font-size;
    line-height: $font-size + $lineH-offset;
  }

  font-weight: map-get($type, "font-weight");

  @if $letterspacing {
    letter-spacing: $letterspacing;
  } @else {
    letter-spacing: $letter-spacing-base;
  }
}

@mixin typography($type...) {
  @for $i from 0 to length($type) {
    [class^="#{nth($type, $i + 1)}-"] {
      @content;
    }
  }
}
