.breadcrumb {
  // scss-docs-start breadcrumb-css-vars
    --#{$prefix-bh}breadcrumb-padding-x:        #{$breadcrumb-padding-x};
    --#{$prefix-bh}breadcrumb-padding-y:        #{$breadcrumb-padding-y};
    --#{$prefix-bh}breadcrumb-margin-bottom:    #{$breadcrumb-margin-bottom};
    --#{$prefix-bh}breadcrumb-background:       #{$breadcrumb-background};
    --#{$prefix-bh}breadcrumb-radius:           #{$breadcrumb-radius};
    --#{$prefix-bh}breadcrumb-divider:          #{$breadcrumb-divider};
    --#{$prefix-bh}breadcrumb-item-padding-x:   #{$breadcrumb-item-padding-x};
    --#{$prefix-bh}breadcrumb-item-current:     #{$breadcrumb-current};
    --#{$prefix-bh}breadcrumb-link:             #{$breadcrumb-link};
    // scss-docs-end breadcrumb-css-vars

    @include type($link, "03");
    display: flex;
    flex-wrap: wrap;
    padding: var(--#{$prefix-bh}breadcrumb-padding-y) var(--#{$prefix-bh}breadcrumb-padding-x);
    margin-bottom: var(--#{$prefix-bh}breadcrumb-margin-bottom);
    list-style: none;
    background-color: var(--#{$prefix-bh}breadcrumb-background);
    @include border-radius(var(--#{$prefix-bh}breadcrumb-radius));
}

.breadcrumb-item {
    // The separator between breadcrumbs (by default, a forward-slash: "/")
    + .breadcrumb-item {
        padding-left: var(--#{$prefix-bh}breadcrumb-item-padding-x);

        &::before {
            float: left; // Suppress inline spacings and underlining of the separator
            padding-right: var(--#{$prefix-bh}breadcrumb-item-padding-x);
            color: var(--#{$prefix-bh}breadcrumb-divider);
            content: var(--#{$prefix-bh}breadcrumb-divider-icon, escape-svg($breadcrumb-divider-icon)) #{"/* rtl:"} var(--#{$prefix-bh}breadcrumb-divider-icon, escape-svg($breadcrumb-divider-flipped)) #{"*/"};
        }
    }

    &.active {
        color: var(--#{$prefix-bh}breadcrumb-item-current);
    }

    .breadcrumb-link {
        text-decoration: none;
        color: var(--#{$prefix-bh}breadcrumb-link);

        &:hover {
            text-decoration: underline;
        }
    }

    .menu-toggle {
        display: flex;
        justify-content: center;
        min-width: 1rem;
    }
}



// Dark mode adjustments
@if $enable-dark-mode {
    @include color-mode(dark) {
        .breadcrumb {
            --#{$prefix-bh}breadcrumb-link: #{$breadcrumb-link-dark};
        }
    }
}