//
// Base styles
//

[class$="-set"],
[class*="-set "] {
    --#{$prefix-bh}set-gap:     #{$spacer-03};

    display: flex;
    flex-wrap: wrap;
    gap: var(--#{$prefix-bh}set-gap);
    row-gap: var(--#{$prefix-bh}set-row-gap);

    &[class|="button"] {
        --#{$prefix-bh}set-gap: #{$button-set-gap};
        --#{$prefix-bh}set-row-gap: #{$button-set-row-gap};
        margin-top: #{$button-set-margin};

        &:has(.btn-icon){
            --#{$prefix-bh}set-gap: #{$button-icon-set-gap};
        }

        &[class*=-set][class|=button]:has(~ *) {
            margin-bottom: #{$button-set-margin};
        }
    }

    &[class|="tag"] {
        --#{$prefix-bh}set-gap:     #{$tag-set-gap};
        --#{$prefix-bh}set-row-gap: #{$tag-set-row-gap};
    }
}

// Button set
.button-set-stacked {
    flex-direction: column;

    & > .btn {
        width: 100%;
    }
}


// Link set
.link-set {
    --#{$prefix-bh}set-gap: #{$link-set-gap};
    --#{$prefix-bh}set-row-gap: #{$link-set-row-gap};

    margin: 0;
    padding: 0;
    list-style-type: none;

    .linkset-item {
        [class^="link"] {
            display: inline-block;
        }
    }
}

.link-set-stacked {
    flex-direction: column;
}

// Switch set
.switch-set {
    flex-direction: column;
    gap: $switch-set-gap;

    .form-switch + .form-switch {
        margin-top: 0;
    }
}