.summary-meta {
    display: flex;
    gap: 1rem;

    &.summary-meta-stacked {
        flex-direction: column;
        align-items: center;

        & .summary-meta-body {

            & > * {
                text-align: center;
                width: 100%;
            }
        }

        & .key-value {
            justify-content: center;
        }
    }

    .icon-block {
        flex: 0 0 auto;
    }
}

.summary-meta-headline {
    @include type($headline, '01');
}

.summary-meta-label {
    @include type($label, '02');
}

.summary-meta-text {
    margin: 0;
}