//
// Base styles
//

.user-meta {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    @include type($body, "01");

    .user-meta-first-line {
        @include type($label, "02");
    }
}

.user-meta-compact {
    padding: 0;
}

.user-meta-body > * {
    display: block;
}
